
#fundo{
    background-image: url(img/img01.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
}

#titulo{
    color: black;
    text-shadow: 2px 2px 8px #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 12%;
    margin: 0;
    font-size: 550%;
}

#subtitulo{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.5;
    font-size: 150%;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 3px white solid;
}

#acao{
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #0000be;
}
